$brand-success: #115330 !default;

body {
  background-color: #f1f1f1
}

.header-row {
  background-color: #ffffff;
  margin: 1rem 0;
}

.v-center-in-header {
  display: table;
  height: 128px;
  width: 100%;
}

.v-center-content-in-header {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.small-top-bottom-padding {
  padding: 1rem 0;
}

.buttonface-bg {
  background-color: buttonface;
}

#map-canvas{
  height: 40rem;
}

@media (min-width: 992px) {
  .col-md-4 > .panel > .panel-body {
    min-height: 540px;
  }
}

//.well {
//  background: #dff0d8;
//}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: $brand-success!important;
}